---
name: ci

"on":
  pull_request:
  push:
    branches: [main]

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@2.0.0
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: lint-unit
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - almalinux-8
          - amazonlinux-2022
          - centos-7
          - centos-stream-8
          - debian-10
          - debian-11
          - fedora-latest
          - opensuse-leap-15
          - rockylinux-8
          - ubuntu-1804
          - ubuntu-2004
        suite:
          - basic-site
          - default
          - mod-auth-cas
          - mod-php
          - module-template
          - mod-wsgi
          - pkg-name
          - ports
          - ssl
          - install-override
        exclude:
          - os: amazonlinux-2
            suite: pkg-name
          - os: debian-10
            suite: pkg-name
          - os: debian-11
            suite: pkg-name
          - os: almalinux-8
            suite: pkg-name
          - os: centos-stream-8
            suite: pkg-name
          - os: rockylinux-8
            suite: pkg-name
          - os: fedora-latest
            suite: pkg-name
          - os: fedora-latest
            suite: mod-php
          - os: ubuntu-1804
            suite: pkg-name
          - os: ubuntu-2004
            suite: pkg-name
          - os: opensuse-leap-15
            suite: pkg-name
      fail-fast: false

    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Dokken
        uses: actionshub/test-kitchen@main
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
      - name: Print debug output on failure
        if: failure()
        run: |
          set -x
          sudo journalctl -l --since today
          KITCHEN_LOCAL_YAML=kitchen.dokken.yml /usr/bin/kitchen exec ${{ matrix.suite }}-${{ matrix.os }} -c "journalctl -l"

  integration-amazonlinux:
    needs: lint-unit
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        os: ["amazonlinux-2"]
        suite:
          - basic-site
          - default
          - mod-auth-cas
          - mod-php
          - module-template
          - mod-wsgi
          - pkg-name
          - ports
          - ssl
          - install-override

    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Install Chef
        uses: actionshub/chef-install@2.0.4
      - name: Dokken
        uses: actionshub/test-kitchen@2.1.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
      - name: Print debug output on failure
        if: failure()
        run: |
          set -x
          sudo journalctl -l --since today
          KITCHEN_LOCAL_YAML=kitchen.dokken.yml /usr/bin/kitchen exec ${{ matrix.suite }}-${{ matrix.os }} -c "journalctl -l"
